# 데이터베이스 설정
DATABASE_URL=jdbc:mariadb://localhost:3307/instagram_clone?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC&characterEncoding=UTF-8
DATABASE_USERNAME=instagram_user
DATABASE_PASSWORD=instagram_password

# JWT 설정
JWT_SECRET_KEY=L6h/xMxGO53HQmR/OB99qR/y0kTr2CAyaI5RqBIX184=
JWT_ACCESS_TOKEN_VALIDITY_TIME=3600000
JWT_REFRESH_TOKEN_VALIDITY_TIME=604800000

# 파일 업로드 설정
FILE_UPLOAD_LOCATION=/app/uploads/

# 서버 설정
SERVER_PORT=8900
